header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0px 100px 0px 100px;
}

.logo img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.nav-list {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 24px;
    font-weight: bold;
    font-size:18px
}

.sreach {
    display: flex;
    gap: 10px;
    Width: 394px;
    height: 30px;
    justify-content: space-between;
    background: #e3e2e2;
    align-items: center;
    border-radius: 10px;
    padding: 10px;

}

.sreach-icon {
    display: flex;
    width: 30px;
    height: 30px;
    background: rgb(150, 150, 150);
    align-items: center;
    justify-content: center;
}

.sreach input {
    width: 85%;
    HEIGHT: 30px;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px;
}

.btn {
    padding: 16px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border-radius: 10px;
    border: 1px solid black;
}

.btn-container {
    display: flex;
    gap: 12px;
}

.wallet {
    background: black;
    color: white;
    border: none;
}

.login {
    background: WHITE;
}

.banner {
    display: flex;
    width: 100%;
    flex: 2;
    justify-content: flex-end;
}
p h1 h2{
    font-family: Montserrat;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex:1;
}
.text p{
    font-size:24px;

}

.banner img {
    width: 70%;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 40px 100px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured {
    margin: 20px 100px 0px 100px;
}

.pic {
    height: 450px;
    width: 300px;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    flex-direction: column;
    padding: 5px 5px;
}

.picture-one {
    display: flex;
    gap: 10px;
}

.picture-one img {
    width: 80%;
}

h2 {
    height: 10px;
    font-size: 15px;

}

/*product-list*/
p h1 {
    margin: 0px;
}

.product-item {
    width: 250px;
    padding: 12px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    object-fit: cover;

}

.product-item img {
    width: 100%;
}

.product-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0px;
}

.product-info p {
    font-size: 1.6rem;
    font-weight: 700;
}

.product-info span {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(179, 179, 179);
}

.product-info {
    margin: 12px 0;
}

.product-item button {
    width: 100%;
    padding: 12px 0px;
    background-color: white;
    color: black;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 8px;
}

.product-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 80px 0px 80px 0px;
}

.end-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.product-end p {
    font-size: 1.2rem;
    font-weight: 700;

}
.product-end spam {
    font-size: 1rem;
}
.text-end {
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    border: 1px solid #d5d0d0;
    border-radius: 10px;
    height: 250px;
    width: 100%;
}
.left{
    border-right: 1px solid #d5d0d0;
    height: 290px;
    padding: 30px;
    flex:1;
}
.between{
    padding: 30px;
    height: 290px;
    border-right: 1px solid #d5d0d0;
    flex:2;
}
.right{
    padding: 20px;
    text-align: right;
    flex:3;
}
.icon-logo img{
    width: 30%;
    margin-top: 100px;
}
