#block1 div {
    border:1px solid black; 
    text-align: center;
    
    background-color: green;
    font-size: 20px;
    width: 500px;
    color: white; 
}
.info{
    border: 1px solid black;
    width: 500px;
    padding: 12x 20px;
    border-radius: 10px;
}
div{
    margin:auto;
    margin-top:10px;
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px;
}
body {
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;}
button {
    background: aquamarine;
    border: 1px solid red;
    padding: 12px 20px;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}
img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}